<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div class="box">
        <h1>HALP</h1>
        <form>
            <input type="text" placeholder="Enter ID" required>
            <input type="password" placeholder="Enter Password" required>
            <button class="submit-button" type="submit">login</button>
            <p>You don't have an account. <a href="./signup.html">SignUp</a></p>
        </form>
    </div>
</body>
</html>